<a href="https://colab.research.google.com/github/JerobenFaith03/Kamilimu-assignments/blob/Faith_python_libraries_1/python_libraries_1/pythonlibrariesassignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Section 1: Foundatonal Concepts

**1.What is the primary purpose of data manipulation in the data science workflow?**/n

  To make data more organised and easier to read

2.**Name three Python libraries that are used for data manipulation, besides Pandas.**

Numpy, PySpark, Polars

**3.What are the key limitations of standard Python lists when performing numerical computations with large datasets, which NumPy addresses?**

Performing mathematical operations over entire arrays

Working with multidimensional data

process large amounts of data efficiently

**4.Explain the core difference between how Python lists and NumPy arrays handle the addition of two lists/arrays**

Python Lists concatenates the two lists, while numpy would add the elements.

**5.What is an ndarray**

it is an object in the numpy library that is like a list but much faster, memory effiicient and tailor-made for numerical computations.

**6.List the advantages of using NumPy arrays over Python lists for numerical computations**

Its much faster
more memory efficient
tailor-made for numerical computations

**7. What are the two primary data structures that Pandas introduces for working with tabular data? Briefly describe each**

Series and
DataFrame

**8.How does Pandas simplify working with tabular data compared to what NumPy primarily offers?**

it allows working with different data tyoes and also label based indexing

**9.Name two ways to access a specific column in a Pandas DataFrame. Provide a simple example for each**

bracket notation: print(df['Name'])
dot notation : print(df.Name)

**10.What does df.isnull().sum() tell you about a DataFrame in Pandas, and why is this function important in data cleaning?**

In [ ]:
Counts the number of missing values in a column. This is important to display any missing data and work on it before theactual anaysis.

# Section 2: Foundational Data Exploration & Manipulation (10 Questions)

In [2]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

**1.Display the last 7 rows of the DataFrame df to get an initial look at the data.**

In [ ]:
df.tail(7)

,order_id,quantity,item_name,choice_description,item_price
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

**2. Print a summary of the DataFrame including the index dtype and column dtypes, non-null values, and memory usage. Comment on what you see.**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

**3. Determine how many observations have missing item|_price in the dataset.**

In [3]:
missing_item = df['item_price'].isna().sum()
print(missing_item)

0

**4. Print the names of all columns in the DataFrame**

In [4]:
print(df.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

**5.Identify which item_name appears most frequently in the orders.**

In [9]:
df['item_name'].value_counts().idxmax()

'Chicken Bowl'

**6. Determine how many distinct item_name values are present in the dataset.**

In [7]:
df['item_name'].nunique()

50

**7. Create a new DataFrame containing only the rows where the item_name is 'Chicken Bowl'.**

In [10]:
df[df['item_name'] == 'Chicken Bowl']

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75

**8. The 'item_price' column is currently a string (e.g., '$2.39'). Convert it to a float type. You'll need to remove the dollar sign and then convert the data type.**

In [9]:
df['item_price'] = df['item_price'].str.replace('$', '', regex=False).astype(float)

**9. After converting 'item_price' to a numerical type, calculate the average item_price across all orders.**

In [13]:
round(df['item_price'].mean(), 3)

np.float64(7.464)

**10. Determine the total number of unique orders in the dataset based on the order_id column.**

In [14]:
df['order_id'].nunique()

1834



# Section 3

1.**Total Revenue Calculation (Pandas)**

**Assuming each item_price (after conversion to float) is for a single quantity of that item, calculate the total revenue generated from all orders. Remember that the quantity column indicates how many of that item_name were ordered in that specific line item.**

In [10]:
total_revenue = (df['quantity'] * df['item_price']).sum()
print(total_revenue)

39237.02

**2.Calculate Total Sales per Item (PySpark):**

Convert the pandas Chipotle dataframe to a PySpark dataframe. Transform the 'item_price' column to a numeric type, and calculate the line_item_total (quantity * item_price) for each row. Then, calculate the total sales for each unique item_name and display the top 5 items by their total sales.

In [14]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, regexp_replace, round as spark_round, sum as spark_sum



spark = SparkSession.builder.appName("ConvertToSpark").getOrCreate()

df_spark = spark.createDataFrame(df)

In [18]:
#replacing the dollar sign
df_spark = df_spark.withColumn(
    "item_price",
    regexp_replace("item_price", "[$]", "").cast("float")
)

#new column 'line_item_total'
df_spark = df_spark.withColumn("line_item_total", col("quantity") * col("item_price"))

#total sales per item
item_sales = df_spark.groupBy("item_name").agg(
    spark_round(spark_sum("line_item_total"), 2).alias("total_sales")
)
#in descending order
top_5_items = item_sales.orderBy(col("total_sales").desc()).limit(5)

top_5_items.show(truncate=False)

+-------------------+-----------+
|item_name          |total_sales|
+-------------------+-----------+
|Chicken Bowl       |8044.63    |
|Chicken Burrito    |6387.06    |
|Steak Burrito      |4236.13    |
|Steak Bowl         |2479.81    |
|Chips and Guacamole|2475.62    |
+-------------------+-----------+